body {
    max-height: 720px;
    max-width: 1280px;        
    margin: auto;
    top: 0;
    overflow: hidden;
    font-family: Helvetica Neue, Helvetica, Arial;
}

.container {
    height: 720px;
    width: 1280px;
    position: relative;
    background-image: url('../assets/background.png');
    background-size: cover;
}

.overlay {
    position: fixed; /* sit on top of the page content */
    display: none; /* hidden by default */
    width: 1280px;
    height: 720px;
    background-color: rgba(37,37,37,0.5); /* background with opacity */
    z-index: 1; /* stack order (just under the sidenav */
}

#menuBtn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 35px;
    left: 65px;
    display: none; /* hidden by default for loading purposes */
}
#menuBtn:focus,
#menuBtn:hover {
    filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-70deg) saturate(600%) contrast(0.8);
    outline: 0;
}

#content {
    text-align: center;
    vertical-align: middle;
}

#home img.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul,
ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#movies {
    display: none;
}
#movies ul {
    position: absolute;
    top: 70px;
    left: 110px;
}
#movies li {
    float: left;
}
#movies button{
    background-color: transparent;
    height: 266px;
    width: 185px;
    font-size: 20px;
    margin: 25px 15px;
    padding: 0;
    border: none;
    border-radius: 10px;
}
#movies button:focus{
    background-image: url('../assets/movie_select.png');
    outline: none;
}
#movies button img{
    height: 257px;
    width: 176px;
    padding-top: 5px;
    border-radius: 10px;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
#movies button:focus img {
    box-shadow: none;
}

#settings {
    display: none;
}
#settings h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 70px 0;
    margin: 0;
}
#settings ul {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}
#settings button {
    height: 50px;
    width: 205px;
    margin: 10px;
    background-color: transparent;
    background: url('../assets/Language_unselected.png');
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    font-size: 20px;
    position: relative;
}
#settings button:focus {
    background:url('../assets/Language_selected.png');
    outline: 0;
}
#settings button:hover {
    color: #FF0074;
}
#settings button.active:hover {
    color: #fff;
}
#settings button.active {
    background:url('../assets/Language_selected.png');
}

#settings button.active span {
    display: inherit;
}
#settings span {
    position: absolute;
    right: 20px;
    display: none;
}

.sidenav {
    height: 720px;
    width: 0;
    position: absolute;
    z-index: 2;
    top: 0;
    background-image: url('../assets/menu.png');
    overflow-x: hidden;
    transition: 0.5s;
}
.sidenav img {
    position: relative;
    top: 35px;
    transform: translate(50%, 0%);
}
.sidenav ul {
    position: relative;
    right: 0;
    padding-top: 50px;
    padding-left: 45px;
    margin-right: 25px;
}
.sidenav li {
    position: relative;
    right: 0;
    padding: 2px 0;
}
.sidenav button {
    height: 50px;
    width: 205px;
    background-color: transparent;
    padding: 8px 8px 8px 32px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.sidenav li button:focus {
    background-image: url(../assets/select.png);
    outline: none;  
}
.sidenav button.active {
    background-image: url(../assets/select.png);
}
.sidenav button:hover {
    color: #FF0074;
}
.sidenav button.active:hover {
    color: #fff;
}